<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

    <h3>Envoyer un message</h3>

      <%= form_tag messages_path, method: :post do %>
      <div class="form-group">
        <%= label_tag 'message[subject]', 'Subject' %>
        <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= label_tag 'message[body]', 'Message' %>
        <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= label_tag 'recipients', 'Choisir un destinataire' %>
        <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it' %>
      </div>

      <%= submit_tag 'Envoyer', class: 'btn btn-md btn-danger' %>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>
