<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <% @meetings.each do |meeting| %>
      <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">

          <div class="panel-heading preview">
            <%= image_tag "foiredeparis.jpg", width: 50  %>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 text-center">
              <p><%= meeting.name %></p>
              <br><p><%= meeting.details %></p><hr>
            </div>
            <div class="col-xs-12 text-center">
              <%= image_tag "place.png", heigth:10, width: 20 %> <p><%= meeting.address %></p><br>
              <%= image_tag "date.png", heigth:15, width: 25 %><p> <%= meeting.start_time.strftime("%d/%m/%Y") %></p>
              <hr>
              <% if user_signed_in? %>

<% if meeting == current_user.meetings %>
<p>Demande en cours</p>
<% else %>
              <ul>
              <li><%= link_to "Réserver un stand", meeting_participate_path(meeting), method: :post, class: 'btn btn-md btn-info' %></li>
              <li> <%= link_to "ou sur event bride", "https://www.eventbrite.fr/o/les-armoires-de-paris-14507830874", :target => "_blank" %></li>
              </ul>
<% end %>

              <% else %>
              <%- if controller_name != 'sessions' %>
              <%= link_to "connectez-vous", new_session_path(resource_name), class:"btn btn-info" %><br />
              <% end -%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
