<p id="notice"><%= notice %></p>
<div class="row>"
  <div class="col xs-12">
    <div class="container-fluid">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">NOS PROCHAINS EVENEMENTS</div>
        <div class="card-description">
          <h2>Les armoires de Paris</h2>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col xs-12 col-md-8">

      <% @meetings.each do |meeting| %>
      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'><%= meeting.start_time.strftime("%d/%m/%Y") %></div>
        </div>
        <img src="" alt="kudoz" class="product-image hidden-xs">
        <div class='product-body'>
          <h3><%= link_to meeting.name, meeting %></h3>
          <%= meeting.address %>
          <p>Détails: <%= meeting.details %></p>
        </div>
        <% if user_signed_in? %>
        <% if current_user.seller? %>
        <%= link_to "Participer", meeting, class:"btn btn-info" %>
        <% end %>
        <% end %>
        <ul class="list-inline product-controls">
<!--
          <li>Reserver un stand</li>
        -->
      </ul>
    </div>
    <% end %>
  </div>

  <div class="col xs-12 col-md-4">
    <h2>A ne pas manquer:</h2>
    <hr>
    <% @meetings.each do |meeting| %>
    <% if meeting.highlight %>
    <div>
      <h3><%= link_to meeting.name, meeting %></h3><br>
      <%= meeting.start_time.strftime("%d/%m/%Y") %><br>
      <%= meeting.address %><br>
      <%= meeting.details %>
      <hr>
      <% end %>

      <% end %>
    </div>
  </div>


</div>
</div>
