<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <% @meetings.each do |meeting| %>
      <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default box-shadow">

          <div class="panel-heading preview">
 <!--
<%= cl_image_tag @meeting.photo,width: 50, crop: :fill %>
-->
            <%= image_tag "foiredeparis.jpg", width: 50  %>
          </div>
          <div class="panel-body">
            <div class="col-xs-12 text-center">
              <strong><%= meeting.name %></strong>
              <br><%= meeting.details %><hr>
            </div>
            <div class="col-xs-12 text-center">
              <%= image_tag "place.png", heigth:15, width: 30 %> <strong><%= meeting.address %></strong><br>
              <%= image_tag "date.png", heigth:20, width: 45 %> <%= meeting.start_time.strftime("%d/%m/%Y") %>
              <hr>
              <% if user_signed_in? %>

              <% if meeting == current_user.meetings %>
              Demande en cours
              <% else %>

              <%= link_to "Réserver un stand", meeting_participate_path(meeting), method: :post, class: 'btn btn-md btn-info' %><br>
              <%= link_to "ou sur event bride", "https://www.eventbrite.fr/o/les-armoires-de-paris-14507830874", :target => "_blank" %>

              <% end %>

              <% else %>
              <%- if controller_name != 'sessions' %>
              <%= link_to "connectez-vous", new_session_path(resource_name), class:"btn btn-info" %><br />
              <% end -%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
