<p id="notice"><%= notice %></p>
<strong>Evenement:</strong><%= @meeting.name %><br>
détails<%= @meeting.details %><br>
le: <%= @meeting.start_time.strftime("%d/%m/%Y") %><br>
adresse:<%= @meeting.address %><br>
Nombre d'exposants: XXXX <br>
<% if user_signed_in? %>
<% if current_user.seller? %>
<%= link_to "Reserver un stand", participate_path(@meeting), class:"btn btn-info" %>
<% end %>
<% end %>
