<p id="notice"><%= notice %></p>
<strong>Evenement:</strong><%= @meeting.name %><br>
détails<%= @meeting.details %><br>
le: <%= @meeting.start_time.strftime("%d/%m/%Y") %><br>
adresse:<%= @meeting.address %>
<br>

<% if user_signed_in? && current_user.seller? %>
<%= link_to "Je participe à cet évènement", meeting_participate_path(@meeting), method: :post, class:"btn btn-primary" %>
<% end %>


