<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
     <ul class="sidebar-list">
      <li class="sidebar-item">
       <%= link_to 'Modifier mon profil', edit_user_registration_path, class: 'sidebar-link active' %>
      </li>
    </ul>
    <br>
    <% if current_user.seller? %>
      <%= link_to user_path(current_user.id), class: 'btn btn-info wide' do %><i class="fa fa-user" aria-hidden="true"></i> Voir mon profil <% end %>
    <% end %>
    </div>
    <div class="col-md-7 text-center">
      <div class= "panel panel-default">
        <div class= "panel-heading">Completer mon profil</div>
        <div class= "panel-body"></div>
        <div class="container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render 'shared/devise_errors' %>
          <div class="form-group">
            <%= f.text_field :pseudo, autofocus: true, class: "form-control", placeholder: "Pseudo" %>
          </div>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Adresse e-mail" %>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <span class="btn btn-default btn-file">
                Charger ma photo (ou logo)
                <%= f.file_field :avatar %>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.text_field :address,  autofocus: true, placeholder: "Saisissez votre addresse..", id:"user_input_autocomplete_address", class: "form-control" %>
            <input id="street_number" name="street_number" disabled type="hidden">
            <input id="route" name="route" disabled type="hidden">
            <input id="locality" name="locality" disabled type="hidden">
            <input id="country" name="country" disabled type="hidden">
          </div>
          <div class="form-group">
          En tant qu'acheteur; distance max des articles proposés (kms):
          <%= f.number_field :distance, class: "form-control", placeholder: "Distance max des articles proposés (kms)" %>
          </div>
          <div class="form-group">
          <%= f.text_field :phone, class: "form-control", placeholder: "Numéro de telephone" %>
          </div>
          <div class="form-group">
          <%= f.text_area :description, rows:5, col:25, class: "form-control", placeholder: "Ma description" %>
          </div>
          <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Nouveau mot de passe (si vous souhaitez changer de mot de passe)"  %>
          </div>
          <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmation du mot de passe" %>
          </div>
          <div class="actions">
          <%= f.submit "Enregistrer", class: 'btn btn-md btn-danger' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_JAVASCRIPT_KEY']}"></script>
