<div class="row">
  <div class="col-md-3">
  <%= image_tag avatar_url(@user), class: "avatar-full" %>

  <% if current_user != @user %>
    <div class="row-space-2">
    <%= link_to "Envoyer un message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>
    </div>
  <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">Vérification
      </div>
      <div class="panel-body">
      <% if @user.confirmed_at %>
       Email confirmé
       <% else %>
       Email non confirmé
       <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2><%= @user.pseudo %></h2>
      <div class="description row-space-3">
        <%= @user.description %>
      </div>
      <h4>Articles (<%= @products.length %>)</h4><br>
        <div class="row">
          <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading preview">
                <%= image_tag product.photos[0].image.url(:medium) if product.photos.length > 0 %>
              </div>
              <div class="panel-body">
                <%= link_to product.name, product %>
              </div>
            </div>
          </div>
          <% end %>
      </div>

<!--Review pour utilisateur -->
<h4>Evaluations</h4><br>
  <% @products.each do |product| %>
  <% if !product.reviews.blank? %>
  <% product.reviews.each do |review| %>
  <div class="row">
    <div class="col-md-2 text-center">
    <%= image_tag avatar_url(review.user), class: "img-circle avatar-medium" %><br>
    <%= review.user.pseudo %>
    </div>
    <div class="col-md-10">
    <%= link_to product.name, product %><br>
    <%= review.comment %><br>
    <%= review.created_at.strftime("(%d/%m/%y)") %>
    </div>
  </div>
  <% end %>
  <% end %>
  <% end %>

  </div>
</div>
