<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="content">
        <div id="searchbox">
          <div class="col-xs-12">
            <%= image_tag avatar_url(@user), class: "avatar-full" %>
            <div class="panel panel-default box-shadow">
              <div class="panel-heading">enregistré depuis: <%= timeago_tag @user.created_at, :lang => :fr  %>
              </div>
              <div class="panel-body"><strong><%= @user.pseudo %></strong><br>
            <% if user_signed_in? %>
            <% if current_user != @user %>
      <div class="row-space-2">
        <%= link_to "Envoyer un message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: 'btn btn-info'%>
      </div>

    <% end %>
    <% end %>



              </div>
            </div>


  </div>
</div>

<br>
<div class="col-xs-12 box-shadow">
  <br>
  <% if @user.seller? %>

  <h4><i class="fa fa-female fa-2x" aria-hidden="true"></i> MON EXPERIENCE:</h4>
  XXXXXX<br>
  XXXXXXXX
  <h4><i class="fa fa-female fa-2x" aria-hidden="true"></i> MES PROJETS:</h4>
  <% @products.each do |product| %>
  <!-- affiche tous les articles actif en vente -->
  <% if product.active? %>
  <div class="col-xs-6">
    <div class="panel panel-default box-shadow">
      <div class="panel-body">
        <div class="col-xs-3">
          <%= image_tag product.photos[0].image.url, style: 'height:80px;width:110px' if product.photos.length > 0 %>
        </div>
        <div class="col-xs-9">
          <strong><%= link_to product.name, product %></strong> (<%= product.sector %>euros)
          <span class="label label-success">article en vente</span><br>
          <i class="fa fa-black-tie" aria-hidden="true"></i> <%= product.sector %>
          <i class="fa fa-level-up" aria-hidden="true"></i> <%= product.sector %>
        </div>
        <!-- affiche tous les aticles vendus -->
        <% elsif product.status? %>
        <div class="panel-body">
          <div class="col-xs-3">
          <%= image_tag product.photos[0].image.url, style: 'height:80px;width:110px' if product.photos.length > 0 %>
        </div>
            <div class="col-xs-9">
          <strong><%= product.name %></strong> <span class="label label-info">article vendu</span><br>
          <i class="fa fa-black-tie" aria-hidden="true"></i> <%= product.brand %>
          <i class="fa fa-level-up" aria-hidden="true"></i> <%= product.size %>
          </div>

          <!-- Si le produit vendu dispose d'un commentaire publié on l'affiche -->
          <% if !product.reviews.blank? %>
          <% product.reviews.each do |review| %>
          <% if review.active %>
          <hr>
          Commentaire:<br>
          <%= image_tag avatar_url(review.user), class: "img-circle avatar-medium" %> <%= review.user.pseudo %>  <%= review.created_at.strftime("(%d/%m/%y)") %><br>
          <%= review.comment %><br>
          <% end %>

        </div>

        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>


</div>
</div>
</div>
</div>
</section>
