<%= render "banner" %>
    <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <i class="fa fa-heart-o fa-4x" aria-hidden="true"></i>
          <h4>Les armoires de Paris</h4>
          <p>Triari nullo perdiscere ille eius inquam dissentientium ut in quo disputando inquam ut quae solent tum dicas a potest cum.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <i class="fa fa-shopping-bag fa-4x" aria-hidden="true"></i>
          <h4>Vendez vos vetements</h4>
          <p>Ipso faeneramur omnis liberalesque mercedis faeneramur fructus ad sic natura ad enim in sed sed exigamus enim liberalitatem propensi sed.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
          <h4>Les Prochains évenements</h4>
          <p>Alia desiderata solet solet causa et nihil vicissimque natura maxime est ex alio id coniungendam alio quisque verum hoc iis.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <i class="fa fa-bullhorn fa-4x" aria-hidden="true"></i>
          <h4>Partagez nos évenements</h4>
          <p>Feci intractato sunt sed in maxima quae utatur appareat montuosis in vetustas illae animal quam commorati in si commorati silvestribus.</p>
        </div>
      </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <h4>Articles</h4>
    </div>
</div>
<div class="row">
    <% @products.each do |product| %>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading preview">
                    <%= image_tag product.photos[0].image.url(:medium) if product.photos.length > 0 %>
                </div>
                <div class="panel-body">
                    <p class="home-link"><b><%= link_to product.price, product_path(product) %> € - <%= link_to product.category, product_path(product) %> - <%= link_to pluralize("taille:", product.size), product_path(product) %></b>
                    <br><%= link_to product.name, product_path(product) %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>
