<%= render "banner" %>
<div class="container">
  <%= render "searchbar" %>
  <br>
  <div class="row">
    <%= render "caroussel" %>
    <%= render "asidecaroussel" %>
  </div>
  <%= render "lastarticlesonline" %>
  <div class="row">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12">
        <h4>Les armoires de Paris</h4>
        <p>_______________________________</p>
        <p>Triari nullo perdiscere ille eius inquam dissentientium ut in quo disputando inquam ut quae solent tum dicas a potest cum.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center padded features">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-heart-o fa-4x" aria-hidden="true"></i>
        <h4>Les armoires de Paris</h4>
        <p>Triari nullo perdiscere ille eius inquam dissentientium ut in quo disputando inquam ut quae solent tum dicas a potest cum.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-shopping-bag fa-4x" aria-hidden="true"></i>
        <h4>Vendez vos vetements</h4>
        <p>Ipso faeneramur omnis liberalesque mercedis faeneramur fructus ad sic natura ad enim in sed sed exigamus enim liberalitatem propensi sed.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
        <h4>Les Prochains évenements</h4>
        <%= link_to meetings_path do %>
        <p>Alia desiderata solet solet causa et nihil vicissimque natura maxime est ex alio id coniungendam alio quisque verum hoc iis.</p>
        <% end %>
      </div>
    </div>
  </div>

</div>
