<div class="row">
    <div class="col-md-8">
        <div class="text-center">
            <h1>Achetez/Vendez vos vetements en ligne sur les armoires de Paris.</h1>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-4">
        <h4>Articles</h4>
    </div>
</div>
<div class="row">
    <% @products.each do |product| %>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading preview">
                    <%= image_tag product.photos[0].image.url(:medium) if product.photos.length > 0 %>
                </div>
                <div class="panel-body">
                    <p class="home-link"><b><%= link_to product.price, product_path(product) %> € - <%= link_to product.category, product_path(product) %> - <%= link_to pluralize("taille:", product.size), product_path(product) %></b>
                    <br><%= link_to product.name, product_path(product) %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>
