<%= render "banner" %>

<div class="container">

  <%= render "searchbar" %>

<br>

<div class="row">
  <%= render "caroussel" %>
  <%= render "asidecaroussel" %>
</div>

<!--
<div class="row">
  <%= render "lastarticles" %>
</div>

</div class="row">
  <%= render "details" %>
</div>
-->
</div>
