
  <div id="wrapper">

  </div>
  <div id="article">
    <div class="row">
      <div class="col-md-12">
          <%= search_form_for @search, url: search_path do |f| %>
          <hr>

            <div class="row">
              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Catégorie:</label>
                    <%= f.select :category_gteq, [["jupe",1],["pantallon",2], ["chapeau",3]], prompt:"A sélectionner...", class:"form-control" %>
                </div>
              </div>
              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Marque:</label>
                  <%= f.select :brand_gteq, [["Sandro",1],["Diesel",2], ["Hermes",3], ["Zara",4]], prompt:"A sélectionner...", class:"form-control" %>
                </div>
              </div>
              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Taille:</label>
                  <%= f.select :size_gteq, [["S",1],["M",2], ["L",3], ["XL",4]], prompt:"A sélectionner...", class:"form-control" %>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-md-6">
                  <%= f.text_field :price_gteq, placeholder: "Budget min", class: "form-control" %>
                </div>
                <div class="col-md-6">
                  <%= f.text_field :price_lteq, placeholder: "Budget max", class: "form-control" %>
                </div>
              </div>
              <br>
              <div class="row">
                <%= f.submit "Rechercher", class:"btn btn-primary" %>
              </div>
              <% end %>

      </div>
    </div>
  </div>

<div class="row">
  <% if @arrProducts.empty? %>Aucune annonce ne correpond à votre recherche.
  <% else %>
    <% @arrProducts.each do |product| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <hr>
      <p class="text-center"></p>
        <div class="cards">
          <div class="card">
            <div class="card-body">
              <div class="card-picture">
                <%= image_tag product.photos[0].image.url, width: 230, height: 150, crop: :fill if product.photos.length > 0 %>
                <div class="card-hover">
                  <h4><%= link_to product.name, product %></h4>
                  <p><%= link_to product.description, product %></p>
                </div>
              </div>
              <div class="card-likes">
                <ul class="list-inline">
                <li><%= image_tag avatar_url(product.user), class:"img-circle avatar-small" %></li>
                  <li><i class="fa fa-female" aria-hidden="true"></i><%= product.category %></li>
                  <li><i class="fa fa-black-tie" aria-hidden="true"></i><%= product.brand %></li>
                  <li><i class="fa fa-level-up" aria-hidden="true"></i><%= product.size %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <% end %>

  <% end %>
</div>

