<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
  <h4 class="page_title"> Vous souhaitez devenir vendeuse sur les armoires de Paris, envoyez-nous un message</h4>
    <div class="form-group">
      <%= form_for @contact do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.email_field :email, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :message %><br>
      <%= f.text_area :message, as: :text %>
    </div>
    <div class="hidden">
      <%= f.label :nickname %><br>
      <%= f.text_field :nickname, hint: 'laisser ce champ vide' %>
    </div>
    <div class="form-group">
      <%= f.submit "Envoyer le message", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
