
<h3><strong><%= @product.name %></strong></h3>

<div class= "row">
  <% if @product.reservations.count >= 1 %>
  <%= image_tag "clapping_white.png", width: 35 %> <%= @product.reservations.count %> encouragement reçu
  <% elsif @product.reservations.count > 1 %>
  <%= image_tag "clapping_white.png", width: 35 %><%= @product.reservations.count %> encouragements reçus
  <% end %>
</div>

<h4><strong><%= @product.state %></strong></h4>
<%= @product.description %><br>
<i class="fa fa-map-marker" aria-hidden="true"></i><%= @product.address %>


<%= form_for([@product, @product.reservations.new]) do |f| %>
<%= f.hidden_field :product_id, value: @product.id %>
<%= f.hidden_field :price, value: @product.price %>
<br>
<div class="col-md-12 text-center">
  <% if user_signed_in? && current_user != @user %>
  <% if @booked %>
  <%= link_to your_articles_path,  class: 'btn btn-md btn-info' do %>
  Vous encouragez ce projet <i class="fa fa-heart" aria-hidden="true"></i>
  <% end %>
  <%= link_to "Contacter ce porteur", new_message_path(sender_id: current_user.id, recipient_id: @user.id), method: 'get', class: 'btn btn-md btn-danger' %>
  <% else %>
  <%= f.submit "Ajouter à mes coups de coeur", class: 'btn btn-md btn-info' %>

  <%= link_to "Contacter son vendeur", new_message_path(sender_id: current_user.id, recipient_id: @user.id), method: 'get', class: 'btn btn-md btn-danger' %>
  <% end %>

  <% elsif user_signed_in? && current_user == @product.user %>
  <%= link_to "Mettre à jour votre projet", edit_product_path(@product), class: 'btn btn-md btn-danger' %><br>
  (dernière mise à jour:<%= timeago_tag @product.updated_at, :lang => :fr  %>)
  <% else %>
  <%= link_to new_user_session_path, class: 'btn btn-md btn-info' do %>
  Contacter le vendeur
  <% end %>
  <% end %>
</div>
<% end %>


