<br>
<div class="row">
  <div class="text-center">
     <br> Dans votre zone, <strong><%= @products.count %> articles</strong> ont été touvé. <br>Glissez vers la droite pour ajouter ces articles à vos coups de coeur
    <div class="wrap">
      <div id="tinderslide">
        <ul>
          <br>
          <br>
          <li>
            Il n' y a plus d'article dans votre zone de: <strong><%= current_user.distance %> kms </strong>
            <br>
            (<%= link_to "Modifier votre zone de recherche", edit_user_registration_path %>)
          </li>
          <% @products.each do |product| %>
          <li class="<%= product.id %>">
            <div><strong><%= link_to product.name, product %></strong> <i class="fa fa-heart-o" aria-hidden="true"></i> <%= product.reservations.count %>
             <br>
           </div>
           <div><%= image_tag product.photos[0].image.url(:medium) if product.photos.length > 0  %>
           </div>
<!--
          <%= form_for([product, product.reservations.new]) do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.hidden_field :price, value: product.price %>
          <br>
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <% end %>

        -->
        <div>
          <%= product.price %> euros<br></div>
          <div><h2><i class="fa fa-map-marker"></i> <%= product.address %></h2><br>
          </div>

          <div class="like"></div>

          <div class="dislike"></div>

        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= link_to your_articles_path, class: "btn btn-info" do %>
  Voir vos <%= current_user.reservations.count %> coup(s) de coeur
  <% end %>
</div>
</div>
