<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <ul class="sidebar-list">
          <li class="sidebar-item"><i class="fa fa-search-plus" aria-hidden="true"></i> <%= link_to "Les articles", search_path,
            class: "navbar-wagon-item navbar-wagon-link" %></li>
            <% if user_signed_in? %>
            <li class="sidebar-item"><i class="fa fa-heart" aria-hidden="true"></i> <%= link_to your_articles_path, class: "sidebar-link active" do %>
              <% if current_user.reservations.count == 1 %>
              Mon coup de coeur
              <% elsif current_user.reservations.count > 1 %>
              Mes <%= current_user.reservations.count %> coups de coeur
              <% else %>
              Pas encore de coup de coeur!
              <% end %>
              <% end %>
            </li>
            <li class="sidebar-item"><i class="fa fa-star-half-o" aria-hidden="true"></i>  <%= link_to "Notez un achat", rating_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-9">

            <div class="col-xs-12">
              <% if @articles.count != 0 %>
              <% @articles.order("id DESC").each do |article| %>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default box-shadow">
                  <div class="panel-heading preview">
                    <%= link_to product_path(article.product) do %>
                    <%= image_tag article.product.photos[0].image.url, style: 'height:120px;width:220px' if article.product.photos.length > 0 %>
                    <% end %>
                  </div>
                  <div class="panel-body">
                    <div class="col-xs-12 text-center">
                      <h5><%= link_to article.product.name, product_path(article.product) %><br>
                        ref. <%= article.product_id %>
                      </h5><%= image_tag "brand.png", heigth:12, width: 24 %> <%= article.product.brand %><br>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <strong><%= article.product.price %> euros</strong>

                        <% if article.product.active %>
                        <!-- Si le produit est publié -->
                        <span class="label label-info">article en vente</span>

                        <% elsif article.product.status? %>
                        <!-- Si le produit est vendu -->
                        <span class="label label-danger">article vendu</span>
                        <% else %>
                        <!-- Si le produit est dépublié -->
                        <span class="label label-danger">article dépublié</span>
                        <% end %>
                        <hr>
                        <%= link_to user_path(article.product.user), class: 'btn btn-md btn-danger' do %>
                        Contacter le vendeur
                        <% end %>
                        retirer de ma liste
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% else %>
            Votre liste est vide
            <% end %>

        </div>
      </div>
    </section>
