<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <ul class="sidebar-list">
          <li class="sidebar-item"><%= image_tag "rocket_launch.png", heigth:50, width: 30 %> <%= link_to "Les projets", search_path,
            class: "navbar-wagon-item navbar-wagon-link" %></li>
            <% if user_signed_in? %>
            <li class="sidebar-item"><i class="fa fa-heart" aria-hidden="true"></i> <%= link_to your_articles_path, class: "sidebar-link active" do %>
              <% if current_user.reservations.count == 1 %>
              Mon projet favori
              <% elsif current_user.reservations.count > 1 %>
              Mes <%= current_user.reservations.count %> rojets favoris
              <% else %>
              Pas encore de projet favori!
              <% end %>
              <% end %>
            </li>
            <li class="sidebar-item"><i class="fa fa-star-half-o" aria-hidden="true"></i>  <%= link_to "Commentez un projet", rating_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="col-xs-12">
            <% if @articles.count != 0 %>
            <% @articles.order("id DESC").each do |article| %>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="panel panel-default box-shadow">
                <div class="panel-heading preview">
                  <%= link_to product_path(article.product) do %>
                  <%= image_tag article.product.photos[0].image.url, style: 'height:120px;width:220px' if article.product.photos.length > 0 %>
                  <% end %>
                </div>
                <div class="panel-body">
                  <div class="col-xs-12 text-center">
                    <h5><%= link_to article.product.name, product_path(article.product) %><br>

                    </h5><span class="label label-success"><%= article.product.sector %></span><br>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">


                      <%= link_to user_path(article.product.user), class: 'btn btn-md btn-info' do %>
                      Contacter le vendeur
                      <% end %>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% else %>
          <div class="row">
            <div class="col-xs-12 text-center">
              <br>
              <p>Votre liste est vide</p>
              <div class="row">
                <%= link_to "Voir les artticles", search_path, class:"btn btn-info" %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
</section>
