<div class="container-fluid">
<hr>
  <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item"><i class="fa fa-search-plus" aria-hidden="true"></i> <%= link_to "Les articles", search_path,
          class: "navbar-wagon-item navbar-wagon-link" %></li>
  <% if user_signed_in? %>
        <li class="sidebar-item"><i class="fa fa-heart" aria-hidden="true"></i> <%= link_to your_articles_path, class: "sidebar-link active" do %>Mes <%= current_user.reservations.count %> coup(s) de coeur
        <% end %></li>
          <li class="sidebar-item"><i class="fa fa-star-half-o" aria-hidden="true"></i>  <%= link_to "Notez un achat", rating_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
  <% end %>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-heart" aria-hidden="true"></i> Mes coups de coeur:
           <%= @articles.count %> articles ajouté(s)
         </div>
         <div class="panel-body">
          <% if @articles.count != 0 %>
          <% @articles.order("id DESC").each do |article| %>
          <div class="row">
            <div class="col-md-2">
              <div class="text-center">
                <strong><%= link_to article.product.name, product_path(article.product) %></strong><br>
                <%= article.product.brand %><br>

                <%= article.product.size %><br>

                <strong>ref. <%= article.product_id %></strong>
              </div>
            </div>
            <div class="col-md-2">
              <div class="text-center">

                <%= link_to product_path(article.product) do %>
                <%= image_tag article.product.photos[0].image.url(:thumb) if article.product.photos.length > 0 %>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <!-- Affichage en fonction du status du produit -->
                <% if article.product.active %>
                <!-- Si le produit est publié -->
                <span class="label label-success">article en vente</span>
                <span class="label label-info">prix: <%= article.price %> euros</span>
                <% elsif article.product.status? %>
                <!-- Si le produit est vendu -->
                <span class="label label-info">article vendu</span>
                <% else %>
                <!-- Si le produit est dépublié -->
                <span class="label label-info">article dépublié</span>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
              <br>
                <%= link_to user_path(article.product.user), class: 'btn btn-md btn-danger' do %>
                Contacter le vendeur
                <% end %>
<br>
                  <%= link_to user_path(article.product.user) do %>
                découvrir <%= article.product.user.pseudo %>
                <% end %>
              </div>
            </div>
          </div>
          <hr>
          <% end %>
          <% else %>
          Votre liste est vide
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

