
<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <div class="box-shadow">
        CONNEXION
        <br>
        <br>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Adresse e-mail", :class=>"input-small" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe", :class=>"input-small" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me %> se souvenir de moi
        </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Connexion", class: 'btn btn-md btn-info' %>
        </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 col-md-offset-4 text-center">
      <br>
      ou <br>
      <%= link_to "Connexion avec Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary-fb" %>
    </div>
  </div>
</section>

