<!-- Informations principales -->
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-7 text-left">
      <h5>Framework: <strong><%= @product.framework %></strong></h5>
      <h5>Nb. de developpeurs: <strong><%= @product.number_of_developper %></strong></h5>
      <h5>Durée de dev.: <strong><%= @product.devolpement_duration %></strong></h5>
      <h5>Bootcamp: <strong><%= @product.developped_at %></strong></h5>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#largeShoes">
  <%= @product.reviews.count %> commentaires
</button>
<!--
      lead developpeur: <strong><%= link_to @product.user.pseudo ,user_path(@product.user) %></strong>
-->
    </div>
    <div class="row">
      <div class="col-xs-5 ">
      <!--
        <%= image_tag avatar_url(@product.user), class:"img-circle avatar-large" %>
      -->
      <% if @product.active? %>
      <%= render 'articles_map' %>
      <% end %>
    </div>
  </div>
</div>
<hr>
<% if user_signed_in? %>
<h5>Aidez ce projet en lui envoyant un commentaire<br>
</h5>
<%= render "reviews/form" %>
<% else %>

<%- if controller_name != 'sessions' %>
<%= link_to "Connectez-vous pour commenter ce projet", new_session_path(resource_name) %>
<% end -%>
<% end %>
</div>

<!-- The modal -->
<div class="modal fade" id="largeShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
<p class="modal-title" id="modalLabelLarge"><%= render 'reviews/list' %></p>
</div>

</div>
</div>
</div>
