<!-- Informations principales -->

    <div class="row text-center">


       <i class="fa fa-female fa-2x" aria-hidden="true"></i>
       CATEGORIE: <%= @product.category %><br>


      <%= image_tag "brand.png", heigth:20, width: 40 %>
      MARQUE: <%= @product.brand %><br>


     <%= image_tag "size.png", heigth:20, width: 40 %>
     TAILLE: <%= @product.size %><br>


     <%= image_tag "color.png", heigth:20, width: 40 %>
    COULEUR: <%= @product.color %><hr>

<p> (<%= @product.state %>)<%= @product.description %></p><hr>





      <i class="fa fa-map-marker" aria-hidden="true"></i> article situé: <%= @product.address %>




</div>











   <div class="col-md-3 text-center">
    <%= image_tag avatar_url(@product.user), class:"img-circle avatar-large" %>
    <br>
    <br>
    article vendu par:<br>
    <strong><%= link_to @product.user.pseudo ,user_path(@product.user) %></strong>
    <br>
    <span id="average_rating_header"></span> <%= @product.user.reviews.count %> commentaires<hr>
  </div>

