<!-- Informations principales -->
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-7 text-left">

      <h5>Framework: <strong><%= @product.framework %></strong></h5>
      <h5>Nb. de developpeurs: <strong><%= @product.number_of_developper %></strong></h5>
      <h5>Durée de dev.: <strong><%= @product.devolpement_duration %></strong></h5>
      <h5>Bootcamp: <strong><%= @product.developped_at %></strong></h5>
      lead developpeur: <strong><%= link_to @product.user.pseudo ,user_path(@product.user) %></strong>

    </div>
    <div class="row">
      <div class="col-xs-5 ">
      <!--
        <%= image_tag avatar_url(@product.user), class:"img-circle avatar-large" %>
      -->

      <% if @product.active? %>
      <%= render 'articles_map' %>
      <% end %>



    </div>
  </div>
</div>

      <hr>

Aidez ce projet en lui envoyant un commentaire:

<%= render "reviews/form" %>

</div>

