<div class="row">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @product.youtube_id %>?rel=0&amp;showinfo=0&amp;start=<%= @product.youtube_startsecond %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<br>
<div class="row text-left">
    <span id="average_rating_header"></span> <%= @product.user.reviews.count %> commentaires
<br>
<h4>Mes attentes:</h4>
<h5><%= @product.objectives %></h5>
App.url: <%= @product.project_url  %>
</div>
<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel">
 <div class="row">
  <% if @photos %>
  <% @photos.each do |photo| %>
  <div class="col-xs-4">


  <div class="item <%= 'active' if photo.id == @photos[0].id %>">
    <%= image_tag photo.image.url(), style: 'height:100px; width:150px' %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

</div>
-->

