<div class="content">
  <div class="container-fluid">
    <div class="row">
      <% @products.each do |product| %>
      <% if product.active? %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading preview">

            <%= image_tag product.photos[0].image.url(:medium) if product.photos.length > 0 %>

          </div>
          <div class="panel-body">

            <strong><%= link_to product.name, product %></strong> <i class="fa fa-heart" aria-hidden="true"></i> <%= product.reservations.count %><br>

            <i class="fa fa-black-tie" aria-hidden="true"></i> <%= product.brand %> <i class="fa fa-level-up" aria-hidden="true"></i> <%= product.size %> <br>
            <strong><%= product.price %> euros</strong>

          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="pagination-box">
      <div class="text-center">
        <%= paginate @products, :exclude => [:first, :last] %>
      </div>
    </div>
  </div>
  <div id="hidden-mobile">
    <div id="map"></div>
  </div>
</div>
<% content_for(:after_js) do %>
<%= javascript_tag do %>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @markers.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
<% end %>
<% end %>
