<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="content">
        <div id="searchbox">
          <div class="col-xs-12">
            <ul class="sidebar-list">
              <li class="sidebar-item"><%= image_tag "rocket_launch.png", heigth:50, width: 30 %>
                <%= link_to "Les projets", search_path,
                class: "sidebar-link active" %></li>
                <% if user_signed_in? %>
                <li class="sidebar-item"><i class="fa fa-heart" aria-hidden="true"></i> <%= link_to your_articles_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                  <% if current_user.reservations.count == 1 %>
                  Mon projet favori
                  <% elsif current_user.reservations.count > 1 %>
                  Mes <%= current_user.reservations.count %> projets favoris
                  <% else %>
                  Pas encore de projet favori!
                  <% end %>
                  <% end %></li>
                  <li class="sidebar-item"><i class="fa fa-star-half-o" aria-hidden="true"></i>  <%= link_to "Commentez un projet", rating_path, class: "navbar-wagon-item navbar-wagon-link" %>
                  </li>
                  <% end %>
                </ul>
                <div class="box-shadow">
                  <br>
                  <div class="row text-center">
                    <div class="col-xs-4 text-center">
                      Rate My Book
                    </div>
                    <div class="col-xs-4 text-center">
                      My Clean Car
                    </div>
                    <div class="col-xs-4 text-center">
                      Choogle
                    </div>
                    <%= image_tag "podium213.png", width: 300 %>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-xs-12">
              <% @products.each do |product| %>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default box-shadow">
            <!--
              <div class="panel-heading preview">
                <%= image_tag product.photos[0].image.url, style: 'height:120px;width:232px' if product.photos.length > 0  %>
              </div>
            -->

            <div class="panel-body">
              <div class="col-xs-12 text-center">
                <h5><%= link_to product.name, product %></h5><span class="label label-success"><%= product.sector %></span><br>

                <hr>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <%= product.created_at.strftime("%-d %B %Y") %><br>
                  <%= product.developped_at %>
                </div>
              </div>
              <div class="col-xs-6">
                <% if user_signed_in? %>
                <% if @booked %>
                <%= image_tag "heart.png", heigth:15, width: 30 %>
                <% else %>
                <%= form_for([product, product.reservations.new]) do |f| %>
                <%= f.hidden_field :product_id, value: product.id %>
                <%= f.submit "Encourager ce projet", class:"btn btn-info", data: { "disable-with": "Encouragement fait!" } %>
                <% end %>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>
