<div class="container-fluid">
<hr>
  <div class="row">
<div class="content">
  <div id="searchbox">
<div class="col-xs-12">
      <ul class="sidebar-list">
        <li class="sidebar-item"><i class="fa fa-search-plus" aria-hidden="true"></i> <%= link_to "Les articles", search_path,
          class: "sidebar-link active" %></li>

          <% if user_signed_in? %>
        <li class="sidebar-item"><i class="fa fa-heart" aria-hidden="true"></i> <%= link_to your_articles_path, class: "navbar-wagon-item navbar-wagon-link" do %>Mes <%= current_user.reservations.count %> coup(s) de coeur
        <% end %></li>
          <li class="sidebar-item"><i class="fa fa-star-half-o" aria-hidden="true"></i>  <%= link_to "Notez un achat", rating_path, class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
          <% end %>

        </ul>
ALGOLIA SEARCH

</div>
</div>
<div class="col-xs-12 col-md-9">
    <% @products.each do |product| %>
    <% if product.active? %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
<!--
            <%= image_tag product.photos[0].image.url(:medium) if product.photos.length > 0 %>
          -->
        </div>
        <div class="panel-body">
          <strong><%= link_to product.name, product %></strong>


<% if user_signed_in? %>
<% if product == current_user.reservations %>
      <i class="fa fa-heart" aria-hidden="true"></i>
<% else %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
  <% end %>
<% else %>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
<% end %>

          <%= product.reservations.count %><br>
          <i class="fa fa-black-tie" aria-hidden="true"></i> <%= product.brand %> <i class="fa fa-level-up" aria-hidden="true"></i> <%= product.size %> <br>
          <strong><%= product.price %> euros</strong>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>


</div>
</div>
</div>
