<div class="panel panel-default">
  <div class="panel-body">
    <!-- Photo principale de l'annonce -->
    <div class="row">
      <div class="col-md-12">
      <%= image_tag @photos[0].image.url(), class:"img-responsive" if @photos.length >0 %>
      </div>
    </div>
    <br>
    <!-- Informations principales -->
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3 text-center">
          <%= image_tag avatar_url(@product.user), class:"img-circle avatar-large" %>
          <br>
          <br>
          <%= @product.user.pseudo %>
          </div>
          <div class="col-md-9">
          <h4><%= @product.name %></h4>
              <%= @product.address %>
            <div class="row text-center row-space-1">
              <div class="col-sm-3">
              <i class="fa fa-female fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-sm-3">
              <i class="fa fa-black-tie fa-2x" aria-hidden="true"></i>
              </div>
              <div class="col-sm-3">
              <i class="fa fa-level-up fa-2x" aria-hidden="true"></i>

              </div>
              <div class="col-sm-3">
              <i class="fa fa-adjust fa-2x" aria-hidden="true"></i>

              </div>
            </div>
            <div class="row text-center">
              <div class="col-sm-3">
              <%= @product.category %>
              </div>
              <div class="col-sm-3">
              <%= @product.brand %>
              </div>
              <div class="col-sm-3">
              <%= @product.size %>
              </div>
              <div class="col-sm-3">
              <%= @product.color %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      <!-- Formulaire de réservation -->
    </div>
  </div>
  <!-- Description -->
  <div class="row">
    <div class="col-md-12">
    <h2>A propos de cet article</h2>
    <p><%= @product.description %></p>
    <p><%= @product.state %></p>
    </div>
  </div>
<!-- Carousel -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
      <% if @photos %>
      <% @photos.each do |photo| %>
      <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
      </ol>
      <% end %>
      <% end %>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
        <% if @photos %>
        <% @photos.each do |photo| %>
          <div class="item <%= 'active' if photo.id == @photos[0].id %>">
          <%= image_tag photo.image.url() %>
          </div>
          <% end %>
          <% end %>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Précédent</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
