<div class="container-fluid">
  <ol class="breadcrumb">
    <li><%= link_to "Accueil", root_path %></li>
    <li><%= link_to "Liste des articles", search_path %></li>
    <li class="active"><%= @product.category %> : <%= @product.name %></li>
  </ol>

  <div class="panel panel-default">
    <div class="panel-body">
 <% if @product.active? %>
      <%= render 'caroussel' %>
<% end %>

<div class="row">
  <% if @product.active? %>
    <%= render 'articles_infos' %>
  <% elsif @product.active? == false && @product.status? %>
  <div class="row text-center">
  <h2><strong> PRODUIT VENDU </strong></h2>
  </div>
    <%= render 'articles_infos' %>
  <% else %>
    Le produit est dépublié
  <% end %>

  <% if @product.active? %>
    <%= render 'reservations/form' %>
  <% end %>
</div>

  <% if @product.active? == false && @product.status? %>
    <%= render 'reviews/form' %>
  <% end %>

  <% if @product.active? %>
    <%= render 'articles_map' %>
   <% end %>

  <% if @product.active? %>
    <%= render 'proximity_articles' %>
  <% end %>

    </div>
  </div>
</div>
