<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Les armoires de Paris</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= favicon_link_tag 'favicon.ico'%>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
  <div class="container">
    <%= yield %>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
  <div class="footer-copyright">
    Les armoires de Paris <i class="fa fa-heart"></i>
  </div>
</div>
  </body>
</html>
