<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Les armoires de Paris</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="css/jTinder.css">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.4.1/dist/instantsearch.min.css">
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.4.1/dist/instantsearch.min.js"></script>




  <%= favicon_link_tag 'favicon.ico'%>
</head>

<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/message' %>
  <%= yield %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="autocomplete.js"></script>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- transform2d lib -->
    <script type="text/javascript" src="js/jquery.transform2d.js"></script>
    <!-- jTinder lib -->
    <script type="text/javascript" src="js/jquery.jTinder.js"></script>
    <!-- jTinder initialization script -->
    <script type="text/javascript" src="js/main.js"></script>



  <%= yield(:after_js) %>
  <%= render 'pages/footer' %>

</body>
</html>
